CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
# CONFIG_ATH10K_THERMAL is not set
# CONFIG_KERNEL_AIO is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_FANOTIFY is not set
# CONFIG_KERNEL_FHANDLE is not set
CONFIG_LIBMBEDTLS_HAVE_SSE2=y
CONFIG_LIBSODIUM_MINIMAL=y
# CONFIG_LUCI_SRCDIET is not set
# CONFIG_OPENSSL_OPTIMIZE_SPEED is not set
CONFIG_OPENSSL_WITH_NPN=y
# CONFIG_PACKAGE_UnblockNeteaseMusic is not set
CONFIG_PACKAGE_amd64-microcode=y
# CONFIG_PACKAGE_bash is not set
# CONFIG_PACKAGE_boost is not set
# CONFIG_PACKAGE_coreutils-base64 is not set
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_intel-microcode=y
# CONFIG_PACKAGE_iptables-mod-tproxy is not set
# CONFIG_PACKAGE_kmod-8139cp is not set
# CONFIG_PACKAGE_kmod-8139too is not set
# CONFIG_PACKAGE_kmod-fs-f2fs is not set
# CONFIG_PACKAGE_kmod-ip6tables is not set
# CONFIG_PACKAGE_kmod-ipt-tproxy is not set
CONFIG_PACKAGE_kmod-lib-crc32c=y
# CONFIG_PACKAGE_kmod-nf-ipt6 is not set
# CONFIG_PACKAGE_kmod-nf-reject6 is not set
CONFIG_PACKAGE_kmod-sched=y
CONFIG_PACKAGE_kmod-usb-printer=y
# CONFIG_PACKAGE_libatomic is not set
# CONFIG_PACKAGE_libbz2 is not set
CONFIG_PACKAGE_libcares=y
# CONFIG_PACKAGE_libdb47 is not set
# CONFIG_PACKAGE_libdouble-conversion is not set
CONFIG_PACKAGE_libev=y
# CONFIG_PACKAGE_libexpat is not set
# CONFIG_PACKAGE_libffi is not set
# CONFIG_PACKAGE_libgdbm is not set
# CONFIG_PACKAGE_libhttp-parser is not set
CONFIG_PACKAGE_libmbedtls=y
# CONFIG_PACKAGE_libnghttp2 is not set
# CONFIG_PACKAGE_libpcre2-16 is not set
CONFIG_PACKAGE_libsodium=y
# CONFIG_PACKAGE_libsqlite3 is not set
# CONFIG_PACKAGE_libuv is not set
# CONFIG_PACKAGE_libxml2 is not set
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
# CONFIG_PACKAGE_luci-app-qbittorrent is not set
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_ChinaDNS=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_Shadowsocks_V2Ray=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_dnscrypt_proxy=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_dnsforwarder=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_haproxy=y
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
CONFIG_PACKAGE_luci-app-usb-printer=y
# CONFIG_PACKAGE_luci-app-v2ray-server is not set
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_mwan3=y
# CONFIG_PACKAGE_node is not set
CONFIG_PACKAGE_p910nd=y
# CONFIG_PACKAGE_python is not set
# CONFIG_PACKAGE_python-base is not set
# CONFIG_PACKAGE_python-codecs is not set
# CONFIG_PACKAGE_python-compiler is not set
# CONFIG_PACKAGE_python-ctypes is not set
# CONFIG_PACKAGE_python-db is not set
# CONFIG_PACKAGE_python-decimal is not set
# CONFIG_PACKAGE_python-distutils is not set
# CONFIG_PACKAGE_python-email is not set
# CONFIG_PACKAGE_python-gdbm is not set
# CONFIG_PACKAGE_python-light is not set
# CONFIG_PACKAGE_python-logging is not set
# CONFIG_PACKAGE_python-multiprocessing is not set
# CONFIG_PACKAGE_python-ncurses is not set
# CONFIG_PACKAGE_python-openssl is not set
# CONFIG_PACKAGE_python-pydoc is not set
# CONFIG_PACKAGE_python-sqlite3 is not set
# CONFIG_PACKAGE_python-unittest is not set
# CONFIG_PACKAGE_python-xml is not set
# CONFIG_PACKAGE_qBittorrent is not set
# CONFIG_PACKAGE_qt5-core is not set
# CONFIG_PACKAGE_qt5-network is not set
# CONFIG_PACKAGE_qt5-xml is not set
# CONFIG_PACKAGE_rblibtorrent is not set
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
# CONFIG_PACKAGE_shadowsocksr-libev-alt is not set
CONFIG_PACKAGE_shadowsocksr-libev-server=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_wifischedule=y
CONFIG_TARGET_ROOTFS_PARTSIZE=90
CONFIG_PACKAGE_v2ray=y
# CONFIG_V2RAY_COMPRESS_UPX is not set
# CONFIG_V2RAY_DISABLE_CUSTOM is not set
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
# CONFIG_V2RAY_JSON_NONE is not set
# CONFIG_V2RAY_JSON_V2CTL is not set
