CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
# CONFIG_ATH10K_THERMAL is not set
# CONFIG_KERNEL_AIO is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_FANOTIFY is not set
# CONFIG_KERNEL_FHANDLE is not set
CONFIG_LIBMBEDTLS_HAVE_SSE2=y
CONFIG_LIBSODIUM_MINIMAL=y
# CONFIG_LUCI_SRCDIET is not set
# CONFIG_OPENSSL_OPTIMIZE_SPEED is not set
CONFIG_OPENSSL_WITH_COMPRESSION=y
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_NPN=y
# CONFIG_PACKAGE_UnblockNeteaseMusic is not set
CONFIG_PACKAGE_amd64-microcode=y
# CONFIG_PACKAGE_boost is not set
CONFIG_PACKAGE_cifsd-tools=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_intel-microcode=y
CONFIG_PACKAGE_kcptun-client=y
# CONFIG_PACKAGE_kmod-8139cp is not set
# CONFIG_PACKAGE_kmod-8139too is not set
CONFIG_PACKAGE_kmod-crypto-ccm=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-md4=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha512=y
CONFIG_PACKAGE_kmod-fs-cifsd=y
# CONFIG_PACKAGE_kmod-fs-f2fs is not set
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-sched=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_libattr=y
# CONFIG_PACKAGE_libbz2 is not set
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcares=y
# CONFIG_PACKAGE_libdb47 is not set
# CONFIG_PACKAGE_libdouble-conversion is not set
CONFIG_PACKAGE_libev=y
# CONFIG_PACKAGE_libexpat is not set
# CONFIG_PACKAGE_libgdbm is not set
# CONFIG_PACKAGE_libhttp-parser is not set
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_libmbedtls=y
# CONFIG_PACKAGE_libnghttp2 is not set
CONFIG_PACKAGE_libnl-core=y
CONFIG_PACKAGE_libnl-genl=y
# CONFIG_PACKAGE_libpcre2-16 is not set
CONFIG_PACKAGE_libsodium=y
# CONFIG_PACKAGE_libsqlite3 is not set
CONFIG_PACKAGE_libwebsockets-full=y
# CONFIG_PACKAGE_libxml2 is not set
CONFIG_PACKAGE_luci-app-advanced-reboot=y
CONFIG_PACKAGE_luci-app-cifsd=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
# CONFIG_PACKAGE_luci-app-qbittorrent is not set
CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
CONFIG_PACKAGE_luci-app-ssr-plus-jo=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_ChinaDNS=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_Shadowsocks_V2Ray=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_dnscrypt_proxy=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_dnsforwarder=y
CONFIG_PACKAGE_luci-app-ssr-plus-jo_INCLUDE_haproxy=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
CONFIG_PACKAGE_luci-app-usb-printer=y
# CONFIG_PACKAGE_luci-app-v2ray-server is not set
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-i18n-advanced-reboot-zh-cn=y
CONFIG_PACKAGE_luci-i18n-cifsd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_mwan3=y
# CONFIG_PACKAGE_node is not set
CONFIG_PACKAGE_p910nd=y
# CONFIG_PACKAGE_python is not set
# CONFIG_PACKAGE_python-base is not set
# CONFIG_PACKAGE_python-codecs is not set
# CONFIG_PACKAGE_python-compiler is not set
# CONFIG_PACKAGE_python-ctypes is not set
# CONFIG_PACKAGE_python-db is not set
# CONFIG_PACKAGE_python-decimal is not set
# CONFIG_PACKAGE_python-distutils is not set
# CONFIG_PACKAGE_python-email is not set
# CONFIG_PACKAGE_python-gdbm is not set
# CONFIG_PACKAGE_python-light is not set
# CONFIG_PACKAGE_python-logging is not set
# CONFIG_PACKAGE_python-multiprocessing is not set
# CONFIG_PACKAGE_python-ncurses is not set
# CONFIG_PACKAGE_python-openssl is not set
# CONFIG_PACKAGE_python-pydoc is not set
# CONFIG_PACKAGE_python-sqlite3 is not set
# CONFIG_PACKAGE_python-unittest is not set
# CONFIG_PACKAGE_python-xml is not set
# CONFIG_PACKAGE_qBittorrent is not set
# CONFIG_PACKAGE_qt5-core is not set
# CONFIG_PACKAGE_qt5-network is not set
# CONFIG_PACKAGE_qt5-xml is not set
# CONFIG_PACKAGE_rblibtorrent is not set
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocks-libev-ss-server=y
CONFIG_PACKAGE_shadowsocksr-libev-server=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_wifischedule=y
CONFIG_TARGET_ROOTFS_PARTSIZE=90
